:root{
    --search-color: rgb(195, 208, 220);
    --search-height: 30px;
    --nav-color: rgb(45, 171, 255);
}
body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
}
#container{
    flex: 1 1 0;
    display: grid;
    grid-template: max-content 1fr/ max-content 1fr;
    grid-template-areas:
    "nav header"
    "nav main"
    ;
}
#nav{
    grid-area: nav;
    background-color: var(--nav-color);
    border-right: 2px solid rgb(36, 131, 195);
    padding: 20px;
    display: grid;
    gap: 10px 15px;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-items: center;
    grid-auto-rows: max-content;
    z-index: 2;
}
.title, .nav-info > p{
    font-weight: bold;
    margin: 0;
}
.title{
    color: white;
    font-size: 2rem;
}
.title-icon{
    height: 50px;
    width: 50px;
}
.title, .title-icon{
    margin: 5px 0 40px 0;
}
.nav-info{
    justify-self: start;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    margin: 5px 0;
    transition: all .2s ease-out;
}
.nav-info:hover{
    color: black;
    text-decoration: underline;
    transform: scale(1.2, 1.2);
}
.break{
    margin: 60px 0 5px 0;
}
.icon{
    height: 25px;
    width: 25px;
}
#header{
    grid-area: header;
    box-shadow: 0 0 4px 5px rgb(215, 215, 215);
    display: grid;
    grid-template: max-content 1fr/ minmax(150px, 2fr) minmax(max-content, 1fr);
    gap: 20px 10px;
    padding: 20px 30px 15px;
    z-index: 1;
}
.search-bar{
    height: var(--search-height);
    border-radius: 10px;
}
.search-bar:focus-within{
    outline: 3px solid var(--nav-color);
}
.search-bar input{
    height: 100%;
    width: calc(100% - 25px);
    border: none;
    border-radius: 0 10px 10px 0;
    padding-left: 5px;
    background-color: var(--search-color);
}
.search-bar input:hover, .search-bar input:focus{
    outline: none;
}
.search-bar img{
    height: var(--search-height);
    vertical-align: bottom;
    border-radius: 10px 0 0 10px;
    background-color: var(--search-color);
    cursor: pointer;
}
.search{
    align-self: center;
}
.basic-info{
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 25px;
}
.basic-info p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}
.mini-profile-icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid black;
}
.large-profile-icon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid black;
}
#main{
    grid-area: main;
    background-color: rgb(235, 235, 235);
}